# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Entorno virtual
venv/
env/
.env

# Archivos de configuración de IDEs
.idea/
.vscode/

# Archivos de bases de datos
*.sqlite3

# Archivos de logs
*.log

# Archivos de caché
*.cache

# Archivos de distribución
dist/
build/
*.egg-info/

# Otros
*.db
*.DS_Store
*.egg
*.egg-info/
